input[type="number"] {
  width: 100px;
  margin-bottom: 5px;
}

input[type="number"]+button{
    align-self: self-end;
}

.relation-container{
    position: relative;
    padding-bottom: 12px;
}

h3.successfully-added{
    position: fixed;
    top: 50vh;
    background-color: var(--background-color);
    left: 50vw;
    border-radius: var(--border-radius);
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    z-index: 1000;
}

.product-card {
    min-width: 250px;
    max-width: 250px;
    background-color: gainsboro;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: left;
    transition: var(--transition-fast);

}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: 300px;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.product-name {
    font-family: var(--font-primary);
    font-size: var(--font-size-lg);
    color: var(--accent-color);
    margin: var(--spacing-sm) 0;
}

.product-price {
    font-family: var(--font-secondary);
    font-size: var(--font-size-base);
    color: var(--primary-color);
    font-weight: bold;
}

.add-to-cart {
    background-color: var(--accent-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition-fast);
    width: 40px;
    height: 40px;
    align-self: center;
}

.add-to-cart:hover {
    background-color: #E64A19;
    box-shadow: var(--box-shadow);
}

.description{
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-sm);
    padding-left: 15px;
}

.icons {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }


  .image-wrapper {
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 28px;
  cursor: pointer;
  transition: background-color 0.2s;
  transform: scale(1.5);
}

.delete-btn:hover {
 transform: scale(1.7);
}

  
